Package: com.zx02.frame.ios14
Name: Frame ios14
Architecture: iphoneos-arm
Depends: mobilesubstrate,firmware (>= 13.9.9)
Version: 3.0.1
Description: Bring your iDevice to life with true video wallpapers.
Maintainer: Zerui Chen
Author: Zerui Chen
Section: Tweaks
